

/* General Styles */


* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    background-color: rgba(179, 57, 81, 0.1);
}

h1 {
    font-size: 5rem;
    text-align: center;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
}

h2 {
    font-size: 3.5rem;
    color: seagreen;
}

h3 {
    font-size: 2.5rem;
    color: rebeccapurple;
}

h1,
h2,
h3,
p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul,
ol,
li,
p {
    font-size: 1.5rem;
    line-height: 1.6;
}


/* Text-Layout Specific Indentation Style */


h2 + p {
    text-indent: 2rem;
}


/* Image Specific Styles */


img {
    display: block;
    margin: 0.5rem auto;
    width: 50%;
}


/* Navigation Menu Specific Styles */

nav {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    line-height: 2;
    margin: 1rem 0;
}

nav a {
    text-decoration: none;
    color: rgb(179, 57, 81);
    font-weight: bold;
    border: 0.1rem solid rgb(179, 57, 81);
    padding: 1rem;
    display: inline-block;
    width: 30%;
    text-align: center;
}

nav a:hover,
nav a:focus {
    color: #fff;
    background-color: rgb(179, 57, 81);
}

nav a:active {
    color: #fff;
    background-color: grey;
}


/* Link Specific Styles */


p a {
    text-decoration: none;
    color: rgb(179, 57, 81);
    font-weight: bold;
    border: 0.1rem solid rgb(179, 57, 81);
    padding: 1rem;
    text-align: center;
}

.link {
    margin: 5rem 4rem 5rem 4rem;
}

p a:hover,
p a:focus {
    color: #fff;
    background-color: rgb(179, 57, 81);
}

p a:active {
    color: #fff;
    background-color: grey;
}